dotenv_if_regular_file_or_fifo_exists() {
  local path=${1:-}

  if [[ -z $path ]]; then
    path=$PWD/.env
  elif [[ -d $path ]]; then
    path=$path/.env
  fi

  watch_file "$path"

  if ! [[ -f $path || -p $path ]]; then
    return
  fi

  eval "$(direnv dotenv bash "$path")"
}

dotenv_if_regular_file_or_fifo_exists ~/.config/putdotio/putio-frontend.1password.env
dotenv_if_regular_file_or_fifo_exists .env.local
