# macOS
.DS_Store

# XCode
## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/

# fastlane
fastlane/report.xml
fastlane/.env
fastlane/*.p8
.bundle/
vendor/bundle/
Config/Local.xcconfig
Config/1Password.local.env
fastlane/.env.1password.local

## Fastlane DSYM .zip
*.zip
