APPSTORE_CONNECT_ISSUER_ID=""
APPSTORE_CONNECT_KEY_ID=""
APPSTORE_CONNECT_KEY_FILEPATH=""
PUTIO_APP_IDENTIFIER="com.putio.tvOS"
PUTIO_APPLE_ID=""
PUTIO_ITC_TEAM_ID=""
PUTIO_DEVELOPMENT_TEAM=""
MATCH_GIT_URL=""
MATCH_TYPE="appstore"
